# Aula 1
## Subseção
### Sub-subseção

- Item 1
- Item 2

In [2]:
print('hello world')

hello world

In [6]:
!dir

 O volume na unidade C n�o tem nome.
 O N�mero de S�rie do Volume � 5A3F-595C

 Pasta de c:\Users\24114290015\Documents\AprendizagemMaquina

07/03/2025  19:52    <DIR>          .
07/03/2025  19:52    <DIR>          ..
07/03/2025  19:53    <DIR>          .conda
07/03/2025  19:59             1.027 aula1.ipynb
21/02/2025  21:11                20 ex001.py
07/03/2025  19:43           823.107 marketing.csv
               3 arquivo(s)        824.154 bytes
               3 pasta(s)   128.850.198.528 bytes dispon�veis

In [7]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.3-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\24114290015\documents\aprendizagemmaquina\.conda\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\24114290015\documents\aprendizagemmaquina\.conda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.5 MB 11.8 MB/s eta 0:00:01
   ---------------- ----------------------- 4.7/11.5 MB 11.9 MB/s eta 0:00:01
   ---------------------- ----------------- 6.6/11.5 MB 11.2 MB/s eta 0:00:01
   ------------------------------ --------- 8.7/11.5 MB 10.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 10.3 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 9.6 MB/s eta 0:00:00
Downloading numpy-2.2.3-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ------ --------------------------------- 2.1/12.6 MB 9.8 MB/s eta 0:00:02
   ------------- -------------------------- 4.2/12.6 MB 10.1 MB/s eta 0:00:01
   -------------------- ------------------- 6.6/12.6 MB 10.1 MB/s eta 0:00:01
   ---------------------------- ----------- 8.9/12.6 MB 10.4 MB/s eta 0:00:01
   ----------------------------------- ---- 11.3/12.6 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 10.8 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 9.1 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.3 pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\24114290015\Documents\AprendizagemMaquina\.conda\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\24114290015\documents\aprendizagemmaquina\.conda\lib\site-packages (2.2.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
#importação do pandas no ambiente python
import pandas as pd

#carregamento do arquivo marketing.csv
marketing = pd.read_csv('./marketing.csv')

In [2]:
(marketing.head())

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
0,a100000029,1/1/18,House Ads,personalization,True,English,English,0-18 years,1/1/18,NaN,House Ads,True
1,a100000030,1/1/18,House Ads,personalization,True,English,English,19-24 years,1/1/18,NaN,House Ads,True
2,a100000031,1/1/18,House Ads,personalization,True,English,English,24-30 years,1/1/18,NaN,House Ads,True
3,a100000032,1/1/18,House Ads,personalization,True,English,English,30-36 years,1/1/18,NaN,House Ads,True
4,a100000033,1/1/18,House Ads,personalization,True,English,English,36-45 years,1/1/18,NaN,House Ads,True

In [3]:
(marketing.describe(include='all'))

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
count,10037,10021,10022,10037,10022,10037,10037,10037,1856,577,1856,1856
unique,7309,31,5,2,2,4,4,7,31,115,5,2
top,a100000882,1/15/18,House Ads,control,False,English,English,19-24 years,1/16/18,4/2/18,Instagram,True
freq,12,789,4733,5091,8946,9793,9275,1682,163,15,600,1279

In [4]:
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   converted            10022 non-null  object
 5   language_displayed   10037 non-null  object
 6   language_preferred   10037 non-null  object
 7   age_group            10037 non-null  object
 8   date_subscribed      1856 non-null   object
 9   date_canceled        577 non-null    object
 10  subscribing_channel  1856 non-null   object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 941.1+ KB

In [5]:
marketing['converted']

0         True
1         True
2         True
3         True
4         True
         ...
10032     True
10033     True
10034    False
10035     True
10036    False
Name: converted, Length: 10037, dtype: object

In [6]:
marketing['converted'] = marketing['converted'].astype('bool')

In [7]:
#criar novas colunas do tipo bool
marketing

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
0,a100000029,1/1/18,House Ads,personalization,True,English,English,0-18 years,1/1/18,NaN,House Ads,True
1,a100000030,1/1/18,House Ads,personalization,True,English,English,19-24 years,1/1/18,NaN,House Ads,True
2,a100000031,1/1/18,House Ads,personalization,True,English,English,24-30 years,1/1/18,NaN,House Ads,True
3,a100000032,1/1/18,House Ads,personalization,True,English,English,30-36 years,1/1/18,NaN,House Ads,True
4,a100000033,1/1/18,House Ads,personalization,True,English,English,36-45 years,1/1/18,NaN,House Ads,True
...,...,...,...,...,...,...,...,...,...,...,...,...
10032,a100007290,1/17/18,Email,control,True,German,German,45-55 years,1/17/18,1/24/18,Email,False
10033,a100007291,1/17/18,Email,control,True,German,German,55+ years,1/17/18,NaN,Email,True
10034,a100007292,1/5/18,Instagram,control,False,German,German,55+ years,1/17/18,NaN,Email,True
10035,a100007293,1/17/18,Email,control,True,German,German,0-18 years,1/17/18,NaN,Email,True
10036,a100007294,1/6/18,Facebook,control,False,German,German,0-18 years,1/17/18,NaN,Email,True

In [8]:
import numpy as np

In [ ]:
# Verifique o tipo de dado da coluna is_retained
print(marketing['is_retained'].dtype)

# Converta is_retained para booleano
marketing['is_retained'] = marketing['is_retained'].astype('bool')

# Verifique novamente o tipo de dado da coluna is_retained
print(marketing['is_retained'].dtype)

object
bool

In [ ]:
# Mapping for channels
channel_dict = {
    "House Ads": 1, 
    "Instagram": 2, 
    "Facebook": 3, 
    "Email": 4, 
    "Push": 5}

# Map the channel to a channel code
marketing['subscribing_channel'].map(channel_dict)

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
10032    4.0
10033    4.0
10034    4.0
10035    4.0
10036    4.0
Name: subscribing_channel, Length: 10037, dtype: float64